{% extends 'catalog/base.html' %}

{% block content %}
    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.category_name }}</td>
                <td>{{ object.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}